<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DigitalTijoriApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalTijori">
        <activity
            android:name=".presentation.startup.StartupActivity"
            android:exported="true"
            android:theme="@style/Theme.DigitalTijori">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.card.detailed_view.DetailedCardActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_card"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.credential.detailed_view.DetailedCredentialActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_credential"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.credential.add_edit.AddEditCredentialActivity"
            android:exported="false"
            android:label="@string/title_activity_add_edit_credential"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.bank_account.detailed_view.DetailedBankAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_bank_account"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.card.add_edit.AddEditCardActivity"
            android:exported="false"
            android:label="@string/title_activity_add_edit_card"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.bank_account.add_edit.AddEditBankAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_add_edit_bank_account"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />
        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Theme.DigitalTijori.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
